<div class="tree">
<% @cadastros.each do |cadastro| %>
   <ul>
      <li>
         <div class="family">
            <div class="person child male">
               <div class="name"><%= cadastro.patrocinador %></div>
            </div>
              <ul>
                  <li>
                <div class="family" style="width: 172px">
                  <div class="person child male">
                      <div class="name"><%= cadastro.nome_usuario %></div>
                </div>
                <%end%>
